<nav class="main-menu">
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  <a href="{{ url | relative_url }}" class="menu-item {% if url == page.url %}selected{% endif %}" aria-label="{{ title }}">
    {%- if item.icon -%}
      <!-- Using SVG icons for a modern look -->
      <svg aria-hidden="true" class="icon">
        <use xlink:href="{{ '/assets/fontawesome/icons.svg' | relative_url }}#{{ item.icon }}"></use>
      </svg>
      <span class="menu-title">{{ title }}</span>
    {%- else -%}
      {{ title }}
    {%- endif -%}
  </a>
{%- endfor -%}
</nav>
