<link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" media="screen and (min-width: 70em)">
<aside class="sidebar">
  <nav class="sidebar-nav">
  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" class="sidebar-link {% if url == page.url %}selected{% endif %}">
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span class="link-title" aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}
  {%- for item in site.external -%}
    <!-- Same structure for external links -->
  {%- endfor -%}
  </nav>
  <div class="sidebar-description">{{ site.description }}</div>
</aside>
