p {
    font-size: 24;
    background: linear-gradient(71deg, #171717 22%, #00ff91 100%);
}

.container {
    margin: 20px;
    margin-top: 50px;
    display: inline-block;
    text-align: center;  
    background-color: bisque;
}
.main {
    text-align: center;
}

.container>img {
    width: 200px;
}
